<main>
    <div>
        <div class="container-fluid" style="background-image: url('assets/images/cover.jpeg'); background-size: cover; background-position: center center; background-attachment: fixed; height: 100vh;">
            <div class="row h-100">
              <div class="col-12 d-flex flex-column justify-content-right align-items-right">
                <h1 class=" text-top fw-bold" style="color: hsla(211, 94%, 21%, 0.89);"  >Welcome to</h1>
                <h1 class="text-warning display-2 text-right roboto fw-bold">the best healthcare platform!</h1>
                <h1 class="text-right fw-bold" style="color: hsla(211, 94%, 21%, 0.89);">We're here to assist you in making informed decisions about your health</h1>
              </div>
            </div>
          </div>
          
        </div>
    
    <div class="container my-5">
        <div class="d-flex align-items-center justify-content-between bg-light mb-3 p-3">
            <h2 class="m-0 roboto text-danger roboto fw-bold">Popular </h2>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3 d-flex align-items-center justify-content-center mb-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://source.unsplash.com/1280x720" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold roboto">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3 d-flex align-items-center justify-content-center mb-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://source.unsplash.com/1280x720" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold roboto">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3 d-flex align-items-center justify-content-center mb-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://source.unsplash.com/1280x720" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold roboto">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3 d-flex align-items-center justify-content-center mb-3">
                <div class="card" style="width: 18rem;">
                    <img src="https://source.unsplash.com/1280x720" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold roboto">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>