<main>
    <div>
        <div class="container-fluid" style="background-image: url('assets/images/cover.jpeg'); background-size: cover; background-position: center center; background-attachment: fixed; height: 100vh;">
           <div class= "row h-200">
              <div class="col-12 d-flex flex-column justify-content-right align-items-right" >
                <h2 class=" text-top fw-bold" style="color: hsla(210, 95%, 15%, 0.89); padding-left: 250px;margin-left: 200px; padding-top:60px;">Welcome to the best </h2>
                <h1 class="text-warning display-2 text-right roboto fw-bold" style="padding-left: 250px; margin-left: 40px;" >healthcare platform!</h1>
                <h2 class="text-right fw-bold" style="color: hsla(210, 95%, 15%, 0.89); padding-left: 50px">We're here to assist you in making informed decisions about your health</h2>       
            </div>
          </div>
          </div>
        </div>
        <div class="container my-5">
            <div class="d-flex align-items-center justify-content-between bg-light mb-3 p-3">
              <h3 class="m-0 roboto roboto fw-bold" style="color: hsla(211, 100%, 13%, 0.89);">We use machine learning algorithms to assist doctors in diagnosing diseases and making treatment recommendations.</h3>
            </div>
            <div class="row">
              <div class="col-12 col-md-4 col-lg-4 d-flex align-items-stretch justify-content-center mb-3">
                <div class="card">
                  <img src="/assets/images/Picture2.png" class="card-img-top" alt="...">
                  <div class="card-body d-flex flex-column">
                    <h5 class="card-title fw-bold roboto">Heart disease</h5>
                    <p class="card-text flex-grow-1"> It is a collection of issues that can affect your heart. When people think about heart disease, they often think of the most common type — coronary artery disease (CAD). However, you can have trouble with different parts of your heart, such as your heart muscle, valves, or electrical system.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-4 col-lg-4 d-flex align-items-stretch justify-content-center mb-3">
                <div class="card">
                  <img src="/assets/images/P3.png" class="card-img-top" alt="...">
                  <div class="card-body d-flex flex-column">
                    <h5 class="card-title fw-bold roboto">Brain Stroke</h5>
                    <p class="card-text flex-grow-1">A stroke occurs when a blood vessel in the brain ruptures and bleeds, or when there’s a blockage in the blood supply to the brain. The rupture or blockage prevents blood and oxygen from reaching the brain’s tissues.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-4 col-lg-4 d-flex align-items-stretch justify-content-center mb-3">
                <div class="card">
                  <img src="/assets/images/Picture3.jpg" class="card-img-top" alt="...">
                  <div class="card-body d-flex flex-column">
                    <h5 class="card-title fw-bold roboto">Chest x-ray</h5>
                    <p class="card-text flex-grow-1">The most performed diagnostic x-ray examination. An x-ray exam helps doctors diagnose and treat medical conditions. A chest x-ray is typically the first imaging test used to help diagnose symptoms such as: breathing difficulties, pneumonia, emphysema, lung cancer and other medical conditions.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>               
</main>